{% extends "app/base.html" %}
{% load static %}

{% block contenido %}
<section>
  <div>
    <h1>Materias</h1>
    <a href="{% url 'crear_materia' %}">Crear materia</a>
    <br><br>
    <form action="{% url 'buscar_materia' %}" method="post">
      {% csrf_token %}
      <input type="text" name="busqueda">
      <input type="submit" value="Buscar">
    </form>
    <br>

    <table class="table">
      <tbody>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Año</th>
          <th></th>
          <th></th>
        </tr>
        {% for materia in materias %}
        <tr>
          <td>{{ materia.id }}</td>
          <td>{{ materia.nombre }}</td>
          <td>{{ materia.año }}</td>

        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</section>
{% endblock contenido %}