{% extends "app/base.html" %}
{% load static %}

{% block contenido %}
<section>
  <div>
    <h1>Profesores</h1>
    <a href="{% url 'agregar_profesor' %}">Agregar profesor</a>
    <br><br>

    <table class="table">
      <tbody>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th></th>
          <th></th>
        </tr>
        {% for profesor in profesores %}
        <tr>
          <td>{{ profesor.id }}</td>
          <td>{{ profesor.nombre }}</td>
          <td>{{ profesor.apellido }}</td>

        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</section>
{% endblock contenido %}